<div class="container main-wrap">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7 left-wrap">

      <p id="notice"><%= notice %></p>
     <div class="show-article">
      <h2>
        <%= @activity.title %>
      </h2>
      
      <div class="show-image">
        <%= cl_image_tag @activity.picture.url if @activity.picture? %>
      </div>
      <div class="show-content">
          <%== @activity.content %>
      </div>
      <div>
        <%= link_to "資料をダウンロードする", @activity.file.url if @activity.file? %>
      </div>
      </div>
        <%= button_to '編集', edit_activity_path(@activity), method: :get, :class=>"btn btn-default show-btn" %> 
        <%= button_to '削除', @activity, method: :delete, data: { confirm: '本当に消しますか？' }, :class=>"btn btn-default show-btn" %>
  
    </div>
    <div class="col-md-3">
      <div class="submenu panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">新着記事</h3>
        </div>
        <% @activities.first(5).each do |activity| %>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to(activity.title, "/activities/#{activity.id}") %></li>
          </ul>
        </div>
        <% end %>
      </div>
    </div><!--col-->
    <div class="col-md-1"></div>
  </div>
</div>
