<%= form_for(report) do |f| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form>
  <div class="form-group">
     <%= f.label :学年 %>
     <%= f.collection_select :grade_id, Grade.all, :id, :name %>
  </div>
  
  <div class="form-group">
     <%= f.label :教科 %>
     <%= f.collection_select :subject_id, Subject.all, :id, :name %>
  </div>
  
   <div class="form-group">
     <%= f.label :活動種類 %>
     <%= f.collection_select :type_id, Type.all, :id, :name %>
  </div>
 
  <div class="form-group">
    <%= f.label :ねらい %>
    <%= f.text_area :aim, :class=>"form-control", :rows=>"2" %>
  </div>

  <div class="form-group">
    <%= f.label :内容 %>
    <%= f.text_area :content, :class=>"form-control", :rows=>"6" %>
  </div>

  <div class="form-group">
    <%= f.label :感想 %>
    <%= f.text_area :comment, :class=>"form-control", :rows=>"6" %>
  </div>
  
      <%= f.file_field  :file, accept:'.doc,.docx,.pdf' %>
  
 <br>
  <div class="actions">
    <%= f.submit "投稿", :class=>"btn btn-primary" %>
  </div>
  
  </form>
<% end %>

