<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 report-wrap">

<h1>実践報告</h1>

<table class="table">　
  <thead>
    <tr>
      <th><%= sortable "grade_id", "学年" %></th>
      <th><%= sortable "subject_id", "教科" %></th>
      <th><%= sortable "type_id", "活動種類" %></th>
      <th>ねらい・目的</th>
      <th>活動内容</th>
      <th>感想</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
    <tr>
        <td><%= report.grade.name %></td>
        <td><%= report.subject.name %></td>
        <td><%= report.type.name %></td>
        <td><%= report.aim.truncate(50) %></td>
        <td><%= report.content.truncate(50) %></td>
        <td><%= report.comment.truncate(50) %></td>
        <td><%= link_to '詳細', report, :class=>"btn btn-default" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= paginate @reports %>
<br>
<br>
<div class="btn btn-default"><%= link_to "新規投稿", new_report_path %></div>
</div>


      
</div>
</div>

