<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Active Learning</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
    <link href="/assets/summernote.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   
    
<%= csrf_meta_tags %>
    <style>
     
      * { 
        font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
      }
      
    
      .menu {
        margin: 0
        border: none;
        background-color: #fff;
      }
      
      .menu h1 {
        font-size: 25px;
        font-family: 'Roboto';
      }
      .menu .collapse {
        margin-top: 10px;
        font-size: 12px;
      }
      
      .menu .navbar-toggle {
        margin-top: 17px;
      }
      
      .menu a {
        text-decoration: none;
      }
      
      /* グローバルメニュー */
      
      .global {
        padding: 0;
        background-color: #fff;
        border-bottom: solid 1px #aaa;
        border-top: solid 1px #aaa;
        margin-bottom: 10px;
        margin-top: -20px;
      }
      
      .navbar {
         background-color: #fff;
      }
      
      @media (min-width: 768px) {
      .global ul,
      .global ol {
        display :table;
        width: 100%;
        table-layout: fixed;
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 1.4;
        list-style: none;
        border-bottom: solid 1px #aaa;
        background-color: #fff;
        }
        
      
      .global li {
        display: table-cell;
        text-align: center;
        font-size: 16px;
        float: left;
      }
      
      .global li a {
        padding: 10px 0;
        border-right: solid 1px #aaa;
      }
      
      .global li:hover {
        background-color: #D3D3D3;
      }
      
      
      .global li:first-child a {
        border-left: solid 1px #aaa;
      }
      
      .global .navbar-nav,
      .global .navbar-nav>li {float: none;}
      
      .global .navbar-collapse:before,
      .global .navbar-collapse:after,
      .global .nav:before,
      .global .nav:after
      {display: none;}
      
        
      } /* @media @/
      
      /* カルーセル */
      .carousel {
        margin-bottom: 50px;
      }
      
      .carousel .item{
        height: 230px;
        padding: 0px
      }
      
      .carousel .item img{
        width: 100%
      }
      /*.carousel .item {
        height: 100%;
      }

      .carousel img {
        width: 100%;
        height: auto;
      } */
      

      
      .carousel-caption {
        left: 15%;
        bottom: 40px;
        text-align: left;
      }
      
      .carousel-caption h3 {
        font-size: 32px;
      }
      
      @media (max-width: 680px) {
        .carousel-inner >.item > img {min-width: 500px;}
        .carousel-control {width: 20px;}
        .carousel-caption {bottom: 0;}
        .carousel-indicators {bottom: 0;}
        .carousel-caption h3 {font-size: 20px;}
        .carousel-caption p {font-size: 12px;}
        } /* @media */  
      
      .thumbnail {
        width:300px;
        height: 270px;
      }
      
      .thumbnail a img {
        width: 100%;
        height: 170px;
      }
      
      .submenu {
        margin-bottom: 30px;
      }
      
      .main-wrap {
        margin-top: 50px;
      }
      
      .left-wrap {
        margin-top: -15px;
      }
      
      .article {
        background-color: #fff;
        margin: 25px 0 50px 0;
        width: 630px;
        height: 200px;
        float: left;
      }
      
      .article_img {
        text-align: center;
        float: left;
      }
      
      .article_text {
        margin-left: 335px;
        margin-right: 15px;
      }
      
      .show-article {
        background-color: #fff;
        margin: 8px 0 50px 0;
        width: 615px;
        float: left;
        padding: 10px 30px;
      }
      
      .show-image {
        padding: 20px 0;
        text-align: center; 
      }
      
      .show-content {
        margin: 10px 0 50px 0;
        font-size: 15px;
      }
      

      .footer {
        margin-top: 80px;
        margin-bottom: 0;
        height: 15px;
        border-radius:0;
      }
      
      .footer-letter {
        color: black;
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        padding-top: 15px;
      }
      
      .btn {
        margin-right: 3px;
      }
      
      .button_to {
        display: inline-block;
        margin-top: 50px;
      }
      
      .link {
        color: black;
        text-decoration: none;
      }
      
      .link:hover {
        color: #6BCBCA;
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: none;
      }
      
      body {
        background-color: #F8F8F8;
        line-height:　20px;
        letter-spacing: 2px;
      }
      
      .top {
        background-color: #F8F8F8;
      }
      
      .navbar-brand {
        height: 80px;
      }
      
      .pic {
        text-align: center;
      }
      
      .report-wrap {
        background-color: #fff;
        padding: 50px, 0px;
      }
      
      .button_to {
        display: inline;
      }
      
      .logo {
        width: 30px;
        height: 30px;
        margin:8px 6px 0px 0px;
    
      }
      
      .top {
        display: inline;
        background-color: #fff;
        vertical-align: -10px;
        font-size: 20px;
        color: black;
      }
        
      
    </style>
        
        
  </head>



  <body>
    <div class="menu navbar navbar-default navbar-static-top">
      <div class="container ">
        <div class="row">
          <div class="col-md-1"></div>
            <div class="col-md-10">
    
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">メニュー</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <a href="/"><img src="assets/fujimi3.gif" class="logo">
         <div class="top">アクティブラーニング委員会</a></div>
         </div>
        </div>
      </div>
   
      </div>
      </div>
    </div>
    
    <div class="global navbar-default navbar-static-top">
      <div class="container">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to("ホーム", "/") %></li>
            <li><%= link_to("アクティビティ紹介", activities_path) %></li>
            <li><%= link_to("実践報告", reports_path) %></li>
            <li><%= link_to("理論・論文", theories_path) %></li>
            <li><%= link_to("資料", papers_path) %></li>
          </ul>
          </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/summernote.min.js"></script>
    <script src="/public/summernote-ja-JP.js"></script>
    
    <%= yield %>
    
  </body>
  <div class="footer navbar navbar-inverse">
    <div class="container">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <p class="footer-letter">Copyright &copy; FUJIMI Junior & Senior High School</p>
        </div>
      </div>
    </div>
  </div>
</html>
